# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production/build
.next/
out/
build/

# misc
.DS_Store
*.pem

# local env files
.env*.local

# vercel
.vercel

# dev notes
dev_notes.md